@font-face { font-family: 'roboto-light'; src:url('../assets/fonts/Roboto-Light.ttf') format('truetype'); }

#form ion-input, #form ion-select { border: thin solid #d2d3d4; width: 100%; border-radius: 50px; height: 30px; background-color: #fff; }
#form ion-input input { margin: 6px 8px; font-family: roboto-light; }
#form ion-select { max-width: 100%; padding: 0; padding-left: 7px; padding-top: 4px; font-family: roboto-light;}
#form ion-select .select-icon { width: 25px; height: 21px;}
#form ion-item { padding-left: 5px; background-color: transparent; }
#form ion-item .item-inner { padding-right: 5px; }
#form .item .item-inner { border-bottom: none !important; box-shadow: none !important; }

#menu {
    .menu-header { 
        padding: 5px 15px;  color: white; 
        .name { font-weight: 500; margin-bottom: 3px; } 
        .e-mail { margin-top: 0; margin-bottom: 5px; }
    }
    .user-avatar { max-width: 125px; height: 125px; padding: .5em; height: 12vh; }
    .user-avatar-size { height:90px; max-width:90px; }
    h3, .label, { color: #999; font-weight: 400; } 
    ion-icon { color: #777; }
    #list-footer { margin-bottom: 0px; }
}
